@charset "utf-8";

@import "reset.css";
@import "variables.css";

/* components */
@import "components/modules.css";
@import "components/navbar.css";
@import "components/header-main.css";
@import "components/home-lists.css";
@import "components/home-posts.css";

/* screens */
@import "screens/login.css";
@import "screens/login-email.css";
@import "screens/set-profile.css";
@import "screens/home-main.css";

@font-face {
  font-family: "SpoqaHanSansNeo-400";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-500";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  color: #767676;
  font-family: "SpoqaHanSansNeo-400";
}
