.main-home {
  display: flex;
  min-height: calc(100vh - 109px);
  margin-top: 48px;
}
.main-home .search-user.no-follows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-user.no-follows .img-logo-gray {
  width: 100px;
}
.search-user.no-follows .txt-search-user {
  margin: 20px 0;
  font-size: 14px;
}
