<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="header-main">
      <span class="title-header">감귤마켓 피드</span>
      <button class="btn-search">
        <img src="../images/icons/icon-search.png" alt="검색" />
      </button>
    </header>
    <main class="home-main">
      <section class="cont-main">
        <h2 class="sr-only">유저 검색</h2>
        <img
          src="../images/logos/symbol-logo-gray.png"
          alt="로고"
          class="home-logo"
        />
        <span class="txt-main">유저를 검색해 팔로우 해보세요!</span>
        <button type="button" class="btn-search btn-md">검색하기</button>
      </section>
    </main>
    <nav class="nav-bar">
      <ul class="list-tap-menu">
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-home.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">홈</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-message-circle.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">채팅</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-edit.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">게시물 작성</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-user.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">프로필</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
