<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="header-main">
      <span class="title-header">감귤마켓 피드</span>
      <button class="btn-search">
        <img src="../images/icons/icon-search.png" alt="검색" />
      </button>
    </header>
    <main class="home-main">
      <article class="main-posts">
        <figure class="post-user">
          <img src="../images/basic-profile_50.png" alt="유저프로필사진" />
        </figure>
        <div class="post">
          <header class="post-header">
            <strong class="title">애월읍 위니브 감귤농장</strong>
            <span class="user-id">@weniv_Mandarin</span>
            <button class="btn-options">
              <!-- <img
                src="../images/icons/s-icon-more-vertical.png"
                alt="옵션버튼"
              /> -->
            </button>
          </header>
          <p class="post-txt-contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis
            debitis veritatis, harum repellat sed! Animi sapiente quasi laborum
            unde, officia quis id? Provident voluptas placeat voluptate ab,
            voluptates dolore.
          </p>
          <img src="" alt="" class="post-image" />
          <ul class="btn-lists">
            <li>
              <button class="btn-icon-heart"></button>
              <span class="count">1</span>
            </li>
            <li>
              <button class="btn-icon-message"></button>
              <span class="count">1</span>
            </li>
          </ul>
          <span class="post-date">2022년 00월 00일</span>
        </div>
      </article>
    </main>
    <nav class="nav-bar">
      <ul class="list-tap-menu">
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-home.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">홈</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-message-circle.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">채팅</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-edit.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">게시물 작성</span>
          </a>
        </li>
        <li>
          <a href="#" class="link-menu">
            <img
              src="../images/icons/icon-user.png"
              alt="home icon"
              class="img-icon"
            />
            <span class="title-menu">프로필</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
